* {
    box-sizing: border-box;
}

body,
html {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
<<<<<<< HEAD
    min-height: 100vh;
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
button {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #242b47;
}

ul {
    list-style-type: none;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
=======
}


@font-face {
    font-family: 'RimowaGrotesk-Light';
    src: url('/fonts/RimowaGrotesk-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'icomoon';
    src: url('/fonts/icomoon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
>>>>>>> a81adda0024d86674d7982b673b3f1989f1cf1f1
